body{

    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.line{
    text-decoration: underline;
}
.bottomcloud{
    position: absolute;
    bottom: 300px;
    left:  300px;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.topContainer{
    position: relative;
    padding-top:100px;
    background-color: #EAF6F6;
   
}
h1{  
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto ;
    color: #66BFBF;
}
h2{
    font-size: 2rem;
    color: #66BFBF;
}
h3,a{
    color:  #11999E;
}
.weight{
    font-weight: normal;
    margin-top: 0;
}
.middle-container{
    background-color: #fcfcfc;
}
.skill-row1{
    
    width: 50%;
    display: inline-block;
    margin:80px auto 0 auto;
    text-align: left;

        
    
}
P{
    line-height: 2;
}
.skill-row2{
    
    width: 50%;
    display: inline-block;
    margin-bottom: 30px ;
    margin-top: 60px;
    text-align: left;

        line-height: 2;
    
}
.img1{
    width: 25%;
    float:left;
    margin-right: 30px;
}
.img2{
    width: 25%;
    float:right;
    margin-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted ;
    border-color: gray;
    border-width: 5px;
    width: 4%;
    margin-top: 30px;
    margin-bottom: 80px;

}
.top-hr{
    margin-top: 80px;
    margin-bottom: 80px;
}

.bottom-hr{
    margin-top: 80px;
    margin-bottom: 80px; 
}

.profile-img{
    margin-top: 50px;
    margin-bottom: 50px;
}
.BUTTON_ILZ {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 100;
    padding: 12px;
    border-color-hover: ;
    border-style-hover: solid;
    border-width-hover: 1;
    background-color: #11999E;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 70px;
 }
 
 .BUTTON_ILZ:hover {
    background: #66BFBF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .bottom-container{
     background-color: #66BFBF;
     margin:none;
     padding: 40px;

      
 }
 .footer-link{
    word-spacing: 30px;
    color: #11999E;
    font-weight: bold;
    text-decoration-line: none;
    margin-bottom: 40PX;
 }